@import url(css/reset.css);

@font-face {
	font-family: 'BebasRegular';
	src: url('fonts/BEBAS___.eot');
	src: local('☺'), url('fonts/BEBAS___.ttf') format('truetype'), url('fonts/BEBAS___.svg#webfont') format('svg');
}

html  {
	font: 11px Helvetica, sans-serif;
	background: #fff;
	padding: 0;
	margin: 0;
	color:#000;
	min-height:100%;
	height:100%;
	font-size:14px;
	background: #e4e3de url('images/grad_bg.png') top left repeat-x;
	
}

body {
  background:url('images/flower-bg.png') repeat;
  padding:0;
  margin:0;
}

a {
	text-decoration:none;
	color:#737373;
}

a:hover {
	color:#fff;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#container {
	height:100%;
	position:relative;
	width:950px;
	padding:0 0 0 0;
	margin:0 auto;
}

.wrapper {
	background:#000;
	width:930px;
	padding:10px;
	position:relative;
}

div#footer {
	text-align:center;
	padding:20px 0;
	color:#3e3e3e;
}

div#footer h4 {
	font: 18px/20px 'BebasRegular', Helvetica, sans-serif;
	margin:0 0 8px 0;
	color:#000;
}

div#primary {
	position:relative;
	height:80px;
	padding:15px 0 15px 10px;
}

a#site_logo {
  position:relative;
  top:20px;
}

div#social {
	position:absolute;
	right:10px;
	top:10px;
	color:#b4b4b0;
	font: 33px/33px 'BebasRegular', Helvetica, sans-serif;
}

div#mediaspace {
  position:absolute;
  top:6px;
  right:100px;
}

div#social span {
	display:inline-block;
	padding:0 10px 0 0;
	vertical-align:middle;
}

div#social a {
	color:#b4b4b0;
}
div#social a:hover {
	color:#fff;
}

div#area-riservata {
  position:absolute;
	right:10px;
	bottom:10px;
	font: 30px/30px 'BebasRegular', Helvetica, sans-serif;
	color:#fff;
}
div#area-riservata a {
  color:#737373;
}
div#area-riservata a:hover {
  color:#fff;
}


div#area-riservata > ul:first-child {
	padding:0;
}

div#area-riservata ul {
	padding:0 0 10px 0;
	position:relative;
}

div#area-riservata ul li {
	font: 28px/27px 'BebasRegular', Helvetica, sans-serif;
	display:inline-block;
	float:left;
	height:35px;
}


div#area-riservata ul li a {
	padding:0 20px 0 0;
	background: url('images/slash.png') 98% 70% no-repeat;
	position:relative;

}

div#area-riservata ul li.last a {
	padding:0 0 0 0;
	background: none;
}

div#area-riservata ul li.active a, div#area-riservata ul li a.active {
	color:#fff;
}

div#area-riservata ul.first.active ul {
	display:block;
}


div#social img {
	position:relative;
	top:6px;
}

div#navigation-holder {

}

div#navigation {
	background:url('images/double-lines.gif') bottom center repeat-x;
	padding:10px 0 4px 0;
	height:37px;
	position:relative;
	top:-10px;
}

li.over a,li.over a:hover {
  color:#fff;
  cursor:pointer;
}

ul.menu li {
	padding:0;
	margin:0;
}

li.expanded {
	padding:0;
	margin:0;
}
div#navigation > ul:first-child {
	border-bottom: 2px solid #3e3e3e;
	padding:0;
}

div#navigation ul {
	
	padding:0 0 10px 0;
	position:relative;
}

div#navigation ul li {
	font: 28px/27px 'BebasRegular', Helvetica, sans-serif;
	display:inline-block;
	float:left;
	height:35px;
	background:black;
}

div#navigation ul li ul {
	position:absolute;
	display:none;
	padding:30px 0 0 0;
	top:4px;
}

div#navigation ul li ul li {
	font: 18px/15px 'BebasRegular', Helvetica, sans-serif;
	padding:15px 0 0 0;
	background:transparent;
}




div#navigation ul li a {
	padding:0 20px 0 0;
	background: url('images/slash.png') 98% 70% no-repeat;
	position:relative;

}

div#navigation ul li.last a {
	padding:0 0 0 0;
	background: none;
}

div#navigation ul li.active a, div#navigation ul li a.active {
	color:#fff;
}

div#navigation ul.first.active ul {
	display:block;
}

div#content {
	background:#000;
	color:#fff;
}

div#content h2 {
	font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
}
.content-body {
	
	background:url('images/double-lines.gif') left bottom repeat-x;
	padding-bottom:70px;
	/*text-align:right;*/
}

.fixed-center {
	width:575px;
	margin:55px auto 0 auto;
}



div.map-holder {
  border-top:2px solid #3E3E3E;
  border-bottom:2px solid #3E3E3E;
  padding:10px 0;
  margin:40px 0 20px 0;
  position:relative;
}

div#lotus-map-expand {
  position:absolute;
  bottom:10px;
  left:0;
  font: 28px/28px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  padding:10px;
  vertical-align:middle;
  width:300px;
  cursor:pointer;
}

div#lotus-map-expand span {
  display:inline-block;
  margin:0 0 0 10px;
}

div.page-top-images {
  border-top:2px solid #3E3E3E;
  padding:10px 0;
  margin:40px 0 0 0;
}

div.page-top-images a {
  margin:0 0 0 10px;
  width:303px;
  height:219px;
  position:relative;
  display:inline-block;
  overflow:hidden;
}

div.page-top-images a:first-child {
  margin:0 0 0 0;
}

div.page-top-images a div {
  font: 28px/28px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  position:absolute;
  bottom:0;
  left:0;
  width:303px;
  padding:5px 0;
}

div.page-top-images a div span {
  background: url('images/zoom-icon.gif') 5px 5px no-repeat;
  padding:0 0 0 40px;
}


/* -----  OVERRIDE STORESETTINGS CSS ----------*/
.category-grid-products {
	margin:0;
  padding:0;
  position:relative;
  text-align:left;
}

.category-grid-products table {
	border:none;
}

.category-grid-products td {
	border:none;
	background:transparent;
}


.category-grid-products div.product-row {
  margin:0 0 30px 0;
}

div.full .category-grid-products div.product-column {
  width:315px;
  height:auto;
}

img.imagecache-uc_category_large {
  vertical-align:top;
}

.category-grid-products div.product-column {
  width:220px;
  height:270px;
  margin:0 0 0 20px;
  float:left;
  background:#fff;
  padding:0;
}
.category-grid-products div.product-column:first-child, .category-grid-products div.product-column.category:first-child  {
  margin:0 0 0 0;
}

.category-grid-products div.product-column.category {
  width:220px;
  height:auto;
  margin:0 0 0 20px;
  float:left;
  background:#fff;
  padding:0;
  position:relative;
}



div.product-column.category div.category-label {
  position:absolute;
  bottom:0;
  left:0;
  font: 24px/24px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  position:absolute;
  width:220px;
  padding:5px 0 5px 0;
}

div.product-column.category div.category-label a {
  color:#fff;
}

div.product-column.category div.category-label a:hover {
  color:#000;
}

div.product-column.category div.category-label span.colorblock {
  width:24px;
  height:24px;
  background:#e1e1e1;
  margin:0 0 0 6px;
  display:inline-block;
  vertical-align:top;
}

div.product-column.category div.category-label span.title {
  display:inline-block;
  vertical-align:top;
  margin:0 0 0 6px;
}


.category-grid-products .catalog-grid-title {
  text-align:left;
  font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
	color:#fff;
	background:#000;
}
.category-grid-products .catalog-grid-title a {
  color:#fff;
}
.category-grid-products .catalog-grid-title a:hover {
  color:#737373;
}

div.item-list {
  background:#3E3E3E;
  height:24px;
  padding:6px;
  /*width:348px;*/
}
ul.pager {
  height:24px;
  line-height:24px;
}
ul.pager li {
	
}

div.item-list .pager li {
  margin:0;
  padding:5px;
}

div.item-list .pager li a {
  color:#fff;
}
div.item-list .pager li a:hover {
  color:#000;
}
div.item-list .pager-current {
  color:#ff0000;
}

/* -----  PAGE SETTINGS CSS ----------*/


div.content-filters {
  margin:55px 0 0 0;
  border-bottom:2px solid #3E3E3E;
  height:29px;
  padding:0 0 10px 0;
}

div.filter {
  float:left;
  margin:0;
  padding:0;
}

div.filter-holder {
  position:relative;
}

div.filter-holder div.filter.right{
 width:auto;
 position:absolute;
 right:0;
 top:0; 
}

div.column {
  float:left;
  margin:0;
  padding:0;
}

div.column.full {
  float:none;
  margin:0;
  padding:0;
  width:100%;
}

div.left {
  width:209px;
  margin-right:10px;
}

div.middle {
  width:350px;
}

div.middle-right {
  width:710px;
}

div.middle-right.space {
  padding-top:45px;
}

div.middle-right.table {
  padding-top:10px;
}

div.right {
  width:360px;
  float:right;
}

div.product.right {
  width:350px;
  float:right;
}

div.right label, div.right input {
  display:inline-block;
  color:#fff;
}

div.right label {
  margin-right:9px;
}

div.middle select {
  width:200px;
  border:solid 1px #ccc;
  background:#353535;
  padding:0;
  margin:0;
  color:#fff;
}

.input_wrapper {
  padding:6px;
  background:#3e3e3e;
  display:inline-block;
  height:17px;
  margin:0;
  vertical-align: top;
  
}
div.right input[type="text"] {
  width:120px;
  border:solid 1px #ccc;
  background:#353535;
  padding:0;
  margin:0;
}

div.right input[type="submit"] {
  border:none;

}
img.imageblock {
  display:inline-block;
  margin-right:9px;
}
input.submit-icon {
  background:url('images/search-icon.gif') top left no-repeat;
  width:29px;
  height:29px;
  text-indent: -9999px;
  border:none;
  padding:0;
  margin:0;
  position:relative;
  left:-3px;
  vertical-align: top;
  color:#000;
}

div.full-content {
  margin:10px 0 0 0;
}

div.column-header {
  height:24px;
  padding:6px;
  margin:0 0 10px 0;
  background:#3e3e3e;
}

div.spacer {
  height:34px;
  padding:6px;
  width:100%;
  margin:0;
}

div.column-header.dark {
    background:#3e3e3e;
    color:#fff;
}

div.column-header.dark.info {
    background:#3e3e3e;
    color:#666;
    width:200px;
    line-height:24px;
    font-size:16px;
}
div.column-header.dark.info span {
  color:#fff;
  font-weight:bold;
}

div.column-header.light {
    background:#fff;
    color:#000;
}

div.column-header span {
  display:inline-block;
  vertical-align: middle;
  
}
div.column-header span.colorblock {
  width:24px;
  height:24px;
  background:red;
  margin:0 6px 0 0;
}

div.column-header span.title {
  text-transform:uppercase;
  font: 18px/20px 'BebasRegular', Helvetica, sans-serif;
}

div.column-header.dark span.title a {
  color:#fff;
}
div.column-header.dark span.title a:hover {
  color:#737373;
}

div.column-header.light span.title a {
  color:#000;
}
div.column-header.light span.title a:hover {
  color:#737373;
}


/* ------ STYLES FOR PRODUCTS ---------- */
h2.product-title {
  width:197px;
  background:#fff;
  height:24px;
  padding:6px;
  font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
	color:#000;
}


.full-content .uc-price  {
  white-space:nowrap;
}

.full-content .uc-price-display {
  clear:none;
  float:none;
  font-size:1.3em;
  font-weight:bold;
  padding-bottom:4px;
  padding-left:4px;
  text-align:center;
  width:100px;
}

h3.dettagli {
  font-size:11px;
  font-weight:normal;
  background: url('images/sm_arrow_icon.gif') top left no-repeat;
  padding:0 0 0 12px;
  margin:0 0 8px 0;
  text-transform:uppercase;
}

h1.product-name {
  height:24px;
  border-top:2px solid #3e3e3e;
  padding:6px 0;
  margin:0 0 0 0;
  font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
}

div.product-detail-holder{
  font-size:11px;
  border-top:1px solid #3e3e3e;
  border-bottom:2px solid #3e3e3e;
  
}

div.product-detail-left {
  width:170px;
  height:200px;
  float:left;
  border-right:1px solid #3e3e3e;
}

div.dimensions {
  color:#3e3e3e;
  padding:5px 0;
  margin:0 0 10px 0;
}
div.dimensions span {
  color:#fff;
}

div.available-colors {
  font-size:13px;
}

div.available-title {
  color:#3e3e3e;
  padding:5px 0;
}

div.color-row {
  line-height:14px;
  padding:3px 0;
}
div.color-row.selected span.color-swatch {
  border:solid 1px #fff;
}

span.color-swatch {
  display:inline-block;
  width:10px;
  height:10px;
}

div.color-row.selected span.color-name {
  font-weight:bold;
}

span.color-name {
  display:inline-block;
  margin:0 0 0 10px;
}

div.product-detail-right {
  width:170px;
  height:200px;
  float:left;
}

div.additional-info {
  border-bottom:2px solid #3e3e3e;
  width:100%;
  padding:12px 0;
}

div.product-body {
  color:#666;
  font-size:14px;
  margin:0 0 10px 0;
}

.full-content table tbody {
  color:#000;
}
  
/* ------ STYLES FOR DOWNLOAD SECTION ---------- */

.download-header {
  padding:0;
  margin:10px 0 25px 0;
}

.download-section-holder {
  width:100%;
  position:relative;
}

.download-column {
  float:left;
  width:32%;
  margin:0 0 0 1.75%;
  
}

.download-column h2 {
  margin:0 0 10px 0;
}

.download-column:first-child {
  margin:0 0 0 0;
  padding:0;
}

.column-child {
  padding:10px;
  background:#fff;
  height:400px;
  overflow:auto;
}

.column-child:first-child {
  margin:0 0 0 0;
  padding:10px;
}