@import url(css/reset.css);

@font-face {
	font-family: 'BebasRegular';
	src: url('fonts/BEBAS___.eot');
	src: local('☺'), url('fonts/BEBAS___.ttf') format('truetype'), url('fonts/BEBAS___.svg#webfont') format('svg');
}

html  {
	font: 11px Helvetica, sans-serif;
	background: #fff;
	padding: 0;
	margin: 0;
	color:#000;
	min-height:100%;
	height:100%;
	font-size:14px;
	background: #e4e3de url('images/grad_bg.png') top left repeat-x;
	
}

body {
  /*background:url('images/flower-bg.png') repeat;*/
  padding:0;
  margin:0;
}

fieldset {
  display:inline;
  width:auto;
}

form#page-catalog_submit_code {
  display:inline;
  width:auto;
}
form#page-catalog_submit_prices {
  display:inline;
  width:auto;
}
form#page-catalog_submit_quantity {
  display:inline;
  width:auto;
}

#backstretch {
  background:url('images/flower-bg.png') repeat;
}

#intro-bg {
  background: #000 url('images/bg.jpg') top center no-repeat;
}

a {
	text-decoration:none;
	color:#737373;
}

a:hover {
	color:#fff;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


ul.tabs li.active a {
  color:#ff0000;
  border:none;
}

.node.notizie {
  margin:0 0 15px 0;
}

.node.notizie div.meta {
  font-size:11px;
}

div#content .node.notizie h2 {
  font-size:25px;
}
.node.notizie div.content {
  width:610px;
  margin:10px 0 0 0;
  line-height:17px;
}
#container {
	height:100%;
	position:relative;
	width:950px;
	padding:0 0 0 0;
	margin:0 auto;
}

.wrapper {
	background:#000;
	width:930px;
	padding:10px;
	position:relative;
}

div#footer {
	text-align:center;
	padding:20px 0;
	color:#3e3e3e;
}

div#footer h4 {
	font: 18px/20px 'BebasRegular', Helvetica, sans-serif;
	margin:0 0 8px 0;
	color:#000;
}

div#primary {
	position:relative;
	height:80px;
	padding:15px 0 15px 10px;
}

a#site_logo {
  position:relative;
  top:20px;
}

div#social {
	position:absolute;
	right:10px;
	top:10px;
	color:#b4b4b0;
	font: 33px/33px 'BebasRegular', Helvetica, sans-serif;
}

div#mediaspace {
  position:absolute;
  top:6px;
  right:100px;
}

div#social span {
	display:inline-block;
	padding:0 10px 0 0;
	vertical-align:middle;
}

div#social a {
	color:#b4b4b0;
}
div#social a:hover {
	color:#fff;
}

div#area-riservata {
  position:absolute;
	right:10px;
	bottom:10px;
	font: 30px/30px 'BebasRegular', Helvetica, sans-serif;
	color:#fff;
}
div#area-riservata a {
  color:#737373;
}
div#area-riservata a:hover {
  color:#fff;
}


div#area-riservata > ul:first-child {
	padding:0;
}

div#area-riservata ul {
	padding:0 0 10px 0;
	position:relative;
}

div#area-riservata ul li {
	font: 28px/27px 'BebasRegular', Helvetica, sans-serif;
	display:inline-block;
	float:left;
	height:35px;
}


div#area-riservata ul li a {
	padding:0 20px 0 0;
	background: url('images/slash.png') 98% 70% no-repeat;
	position:relative;

}

div#area-riservata ul li.last a {
	padding:0 0 0 0;
	background: none;
}

div#area-riservata ul li.active a, div#area-riservata ul li a.active {
	color:#fff;
}

div#area-riservata ul.first.active ul {
	display:block;
}


div#social img {
	position:relative;
	top:6px;
}

form#user-login .description {
  display:none;
}

div#navigation-holder {
  position:relative;
  width:100%;
  height:50px;
}


div#navigation {
	background:url('images/double-lines.gif') bottom center repeat-x;
	padding:0 0 4px 0;
	/*height:37px;
	position:relative;
	top:-10px;*/
}

div.bg-spacer {
	background:url('images/double-lines.gif') bottom center repeat-x;
	padding:10px 0 4px 0;
	height:37px;
	position:absolute;
	top:-10px;
	width:100%;
}
div.bg-child {
  background:#000;
  width:100%;
  height:45px;
  top:0;
  position:absolute;
}


ul.menu li {
	padding:0;
	margin:0;
}

li.expanded {
	padding:0;
	margin:0;
}
div#navigation > ul:first-child {
	border-bottom: 2px solid #3e3e3e;
	padding:0;
	z-index:10;
}

div#navigation ul {
	
	padding:0 0 10px 0;
	position:relative;
	z-index:20;
}

div#navigation > ul > li {
	font: 28px/27px 'BebasRegular', Helvetica, sans-serif;
	display:inline-block;
	float:left;
	height:35px;
	background:black;
	position:relative;
	z-index:5;
}

div#navigation ul li ul {
	position:absolute;
	padding:0 0 0 0;
	top:0;
	width:600px;
	z-index:2;
}

div#navigation ul li ul li {
	font: 18px/15px 'BebasRegular', Helvetica, sans-serif;
	padding:0 0 0 0;
	margin:15px 0 0 0;
	background:black;
	display:inline-block;
	float:left;
}


div#navigation ul li a {
	padding:0 20px 0 0;
	background: url('images/slash.png') 98% 70% no-repeat;
	position:relative;

}

div#navigation ul > li > a {
  z-index:30;
  background:black;
}
div#navigation ul li.last a, div.sub-nav ul li.last a{
	padding:0 0 0 0;
	background: none;
}

div#navigation ul li.active a, div#navigation ul li a.active {
	color:#fff;
}

div#navigation ul.first.active ul {
	display:block;
}



div.sub-nav {
  position:absolute;
  top:30px;
  z-index:30;
  width:100%;
  background:black;
}


div.sub-nav ul li {
	font: 18px/15px 'BebasRegular', Helvetica, sans-serif;
	padding:15px 0 0 0;
	display:inline-block;
	float:left;
	background:transparent;
}

div.sub-nav ul li a {
	padding:0 20px 0 0;
	background: url('images/slash.png') 98% 70% no-repeat;
	position:relative;

}


div#content {
	background:#000;
	color:#fff;
	margin:0 auto;
	 min-height:150px;
}

div#content h2 {
	font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
}
.content-body {
	
	background:url('images/double-lines.gif') left bottom repeat-x;
	padding-bottom:70px;
	/*text-align:right;*/
}

.fixed-center {
	width:575px;
	margin:30px auto 0 auto;
}

form.webform-client-form {
  width:575px;
  margin:0 auto;
  font-size:12px;
  font-weight:normal;
}

form.webform-client-form .form-item label {
  display:block;
  font-weight:bold;
  margin:0 0 6px 0;
}

.fixed-center a {
  color:red;
}

.fixed-center a:hover {
  color:white;
}

div#intro {
  text-align:center;
 
}

img#scoprite {
  position:relative;
  top:20px;
}

div.map-holder {
  border-top:2px solid #3E3E3E;
  border-bottom:2px solid #3E3E3E;
  padding:10px 0;
  margin:40px 0 20px 0;
  position:relative;
}

div#lotus-map-expand {
  position:absolute;
  bottom:10px;
  left:0;
  font: 28px/28px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  padding:10px;
  vertical-align:middle;
  width:300px;
  cursor:pointer;
}

div#lotus-map-expand span {
  display:inline-block;
  margin:0 0 0 10px;
}

div.page-top-images {
  border-top:2px solid #3E3E3E;
  padding:10px 0;
  margin:40px 0 0 0;
}

div.page-top-images a {
  margin:0 0 0 10px;
  width:303px;
  height:219px;
  position:relative;
  display:inline-block;
  overflow:hidden;
}

div.page-top-images a:first-child {
  margin:0 0 0 0;
}

div.page-top-images a div {
  font: 28px/28px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  position:absolute;
  bottom:0;
  left:0;
  width:303px;
  padding:5px 0;
}

div.page-top-images a div span {
  background: url('images/zoom-icon.gif') 5px 5px no-repeat;
  padding:0 0 0 40px;
}


div.column.product.middle a div {
  font: 28px/28px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  position:absolute;
  bottom:0;
  left:0;
  width:350px;
  padding:5px 0;
}

div.column.product.middle a div span {
  background: url('images/zoom-icon.gif') 5px 5px no-repeat;
  padding:0 0 0 40px;
}



/* -----  OVERRIDE STORESETTINGS CSS ----------*/
.category-grid-products {
	margin:0;
  padding:0;
  position:relative;
  text-align:left;
}

.category-grid-products table {
	border:none;
}

.category-grid-products td {
	border:none;
	background:transparent;
}


.category-grid-products div.product-row {
  margin:0 0 30px 0;
}

div.full .category-grid-products div.product-column {
  width:315px;
  height:auto;
}

img.imagecache-uc_category_large {
  vertical-align:top;
}

.category-grid-products div.product-column {
  width:220px;
  height:270px;
  margin:0 0 0 20px;
  float:left;
  background:#fff;
  padding:0;
  position:relative;
}
.category-grid-products div.product-column:first-child, .category-grid-products div.product-column.category:first-child  {
  margin:0 0 0 0;
}

.category-grid-products div.product-column.category {
  width:220px;
  height:auto;
  margin:0 0 0 20px;
  float:left;
  background:#fff;
  padding:0;
  position:relative;
  min-height:175px;
}

div.product-flags {
  position:absolute;
  top:30px;
  right:-4px;
}

div.product-flags-page {
  position:absolute;
  top:7px;
  right:-11px;
}

div.lotus_flags {
  background-color:transparent;
  width:85px;
  height:24px;
}

div.lotus_flags.new {
  background:url('images/novita.png') top left no-repeat;
}

div.lotus_flags.offer {
  background:url('images/offerta.png') top left no-repeat;
}

div.lotus_flags.exclusive {
  background:url('images/esclusiva.png') top left no-repeat;
}



div.product-column.category div.category-label {
  position:absolute;
  bottom:0;
  left:0;
  font: 24px/24px 'BebasRegular', Helvetica, sans-serif;
  background: url('images/50percent-grey.png') top left repeat;
  position:absolute;
  width:220px;
  padding:5px 0 5px 0;
}

div.product-column.category div.category-label a {
  color:#fff;
}

div.product-column.category div.category-label a:hover {
  color:#000;
}

div.product-column.category div.category-label span.colorblock {
  width:24px;
  height:24px;
  background:#e1e1e1;
  margin:0 0 0 6px;
  display:inline-block;
  vertical-align:top;
}

div.product-column.category div.category-label span.title {
  display:inline-block;
  vertical-align:top;
  margin:0 0 0 6px;
}


.category-grid-products .catalog-grid-title {
  text-align:left;
  font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
	color:#fff;
	background:#000;
	position:relative;
	line-height:25px;
}
.category-grid-products .catalog-grid-title a {
  color:#fff;
}
.category-grid-products .catalog-grid-title a:hover {
  color:#737373;
}

div.item-list {
  background:#3E3E3E;
  height:24px;
  padding:6px;
  /*width:348px;*/
}
ul.pager {
  height:24px;
  line-height:24px;
}
ul.pager li {
	
}

div.item-list .pager li {
  margin:0;
  padding:5px;
}

div.item-list .pager li a {
  color:#fff;
}
div.item-list .pager li a:hover {
  color:#000;
}
div.item-list .pager-current {
  color:#ff0000;
}

/* -----  PAGE SETTINGS CSS ----------*/


div.content-filters {
  margin:55px 0 0 0;
  border-bottom:2px solid #3E3E3E;
  height:29px;
  padding:0 0 10px 0;
  position:relative;
}

div#shopping-links {
  position:absolute;
  top:-40px;
  right:2px;
  text-transform:uppercase;
  font-size:11px;
}

div#shopping-links ul li {
  float:left;
  width:auto;
  display:inline-block;
  margin:0 0 0 15px;
}

div#shopping-links ul li a {
  
}

div.filter {
  float:left;
  margin:0;
  padding:0;
}

div.filter-holder {
  position:relative;
}

div.filter-holder div.filter.right, div.column.middle-right div.filter.right {
 width:auto;
 position:absolute;
 right:0;
 top:0; 
}



div.column {
  float:left;
  margin:0;
  padding:0;
  position:relative;
}

div.column.full {
  float:none;
  margin:0;
  padding:0;
  width:100%;
}

div.column.full.main div.category-grid-products {
  text-align:center;
}

div.column.full.main div.category-grid-products div.product-row {
  width:650px;
  margin:60px auto 0 auto;
}

div.left {
  width:209px;
  margin-right:10px;
}

div.middle {
  width:350px;
}

div.middle-right {
  width:710px;
}
div.filter.middle-right {
  text-align:right;
}

div.middle-right.space {
  padding-top:46px;
}


div.middle-right div.product-messages {
  min-height:46px;
  padding:0;
  margin:0;
}

div.middle-right.table {
  padding-top:30px;
}

div.middle-right.table table {
  padding:10px;
  width:100%;
}

div.middle-right.table input.form-submit {
  padding:10px;
  margin:10px 0;
}


div.middle-right.table table td {
  padding:2px 5px;
}
div.right {
  width:360px;
  float:right;
}


div.filter.middle {
  width:235px;
}

div.filter.right {
  width:475px;
  text-align:right;
}

div.product.right {
  width:350px;
  float:right;
  min-height:350px;
  /*border-bottom:2px solid #3e3e3e;*/
}

div.right label, div.right input {
  display:inline-block;
  color:#fff;
}

div.right label {
  margin-right:9px;
}

div.left select,div.middle select {
  width:200px;
  border:solid 1px #ccc;
  background:#353535;
  padding:0;
  margin:0;
  color:#fff;
}

div.middle-right select {
  width:200px;
  border:solid 1px #ccc;
  background:#353535;
  padding:0;
  margin:0;
  color:#fff;
  position:relative;
  top:-4px;
}

.input_wrapper {
  padding:6px;
  background:#3e3e3e;
  display:inline-block;
  height:17px;
  margin:0;
  vertical-align: top;
  
}
.input_wrapper.text input {
  position:relative;
  top:-4px;
}
.input_wrapper.text span.lead {
  color:#6a6a6a;
}

.input_wrapper.text span {
  font-family: 'BebasRegular', Helvetica, sans-serif;
  font-size:18px;
  line-height:14px;
  position:relative;
}
div.middle-right input[type="text"],div.right input[type="text"] {
  width:120px;
  border:solid 1px #ccc;
  background:#353535;
  padding:0;
  margin:0;
  color:#fff;
}

div.middle-right input[type="submit"] {
  border:none;

}
img.imageblock {
  display:inline-block;
  margin-right:9px;
}
input.submit-icon {
  background:url('images/search-icon.gif') top left no-repeat;
  width:29px;
  height:29px;
  text-indent: -9999px;
  border:none;
  padding:0;
  margin:0;
  position:relative;
  left:-3px;
  vertical-align: top;
  color:#000;
}

div.full-content {
  margin:10px 0 0 0;
}

div.column-header {
  height:24px;
  padding:6px;
  margin:0 0 10px 0;
  background:#3e3e3e;
}

div.spacer {
  height:34px;
  padding:6px;
  width:100%;
  margin:0;
}

div.column-header.dark {
    background:#3e3e3e;
    color:#fff;
}

div.column-header.dark.info {
    background:#3e3e3e;
    color:#666;
    width:200px;
    line-height:24px;
    font-size:16px;
}
div.column-header.dark.info span {
  color:#fff;
  font-weight:bold;
}

div.column-header.light {
    background:#fff;
    color:#000;
}

div.column-header span {
  display:inline-block;
  vertical-align: middle;
  
}
div.column-header span.colorblock {
  width:24px;
  height:24px;
  background:red;
  margin:0 6px 0 0;
}

div.column-header span.title {
  text-transform:uppercase;
  font: 18px/20px 'BebasRegular', Helvetica, sans-serif;
}

div.column-header.dark span.title a {
  color:#fff;
}
div.column-header.dark span.title a:hover {
  color:#737373;
}

div.column-header.light span.title a {
  color:#000;
}
div.column-header.light span.title a:hover {
  color:#737373;
}

/* ------ STYLES FOR CATALOG ---------- */

.category-grid-products .catalog-grid-image {
  display:block;
  padding:0;
  text-align:left;
}

.details-holder {
  height:220px;
  width:220px;
  overflow:hidden;
  background:transparent;
  position:absolute;
  top:0;
  left:0;
  cursor:pointer;
}

.details-content {
  height:auto;
  width:220px;
  position:absolute;
  bottom:0; /* this should be calculated by jquery to show lift effect */
  background: url('images/50percent-grey.png') top left repeat;
  text-align:left;
  cursor:pointer;
}

.details-content h3 {
  font-size:11px;
  font-weight:normal;
  background: url('images/sm_arrow_icon.gif') top left no-repeat;
  padding:0 0 4px 12px;
  margin:0 auto 8px auto;
  text-transform:uppercase;
  border-bottom: solid 1px #000;
  width:200px;
  position:relative;
  top:4px;
}

.details-content div {
  text-align:left;
  padding:5px;
}

.mini-thumbs {
  position:absolute;
  bottom:0;
  background: url('images/75percent-black.png') top left repeat;
  height:39px;
  border-top:solid 1px #000;
  width:210px;
  padding:5px;
}

span.catalog-grid-image-mini {
  width:210px;
  height:40px;
  overflow:hidden;
  display:inline-block;
}
span.catalog-grid-image-mini a {
  display:inline-block;
  margin:0 0 0 3px;
}

span.catalog-grid-image-mini a:first-child {
  margin:0 0 0 0;
}

.category-grid-products .catalog-grid-sell-price {
  display:block;
  text-align:left;
  font-weight:bold;
}
.category-grid-products .catalog-grid-sell-price > span.small {
  font-size:10px;
  font-weight:normal;
  display:block;
}

.category-grid-products .product-desc {
  display:block;
  text-align:left;
  font-size:120%;
  margin-top:10px;
}



/* ------ STYLES FOR PRODUCTS ---------- */
h2.product-title {
  width:197px;
  background:#fff;
  height:24px;
  padding:6px;
  font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
	color:#000;
}


.full-content .uc-price  {
  white-space:nowrap;
}

.full-content .uc-price-display {
  clear:none;
  float:none;
  font-size:1.3em;
  font-weight:bold;
  padding-bottom:4px;
  padding-left:4px;
  text-align:center;
  width:100px;
}

h3.dettagli {
  font-size:11px;
  font-weight:normal;
  background: url('images/sm_arrow_icon.gif') top left no-repeat;
  padding:0 0 0 12px;
  margin:0 0 8px 0;
  text-transform:uppercase;
}

h1.product-name {
  height:24px;
  border-top:2px solid #3e3e3e;
  padding:6px 0;
  margin:0 0 0 0;
  font-family: 'Georgia', 'Times', serif;
	font-weight:normal;
	font-size:20px;
}

div.product-detail-holder{
  font-size:11px;
  border-top:1px solid #3e3e3e;
  border-bottom:2px solid #3e3e3e;
  
}

div.product-detail-left {
  width:170px;
 
  float:left;
  border-right:1px solid #3e3e3e;
  padding:0 0 10px 0;
}

div.dimensions {
  color:#3e3e3e;
  padding:5px 0;
  margin:0 0 10px 0;
}
div.dimensions span {
  color:#fff;
}

div.available-colors {
  font-size:13px;
}

div.available-title {
  color:#3e3e3e;
  padding:5px 0;
}

div.color-row {
  line-height:14px;
  padding:3px 0;
}
div.color-row.selected span.color-swatch {
  border:solid 1px #fff;
}

span.color-swatch {
  display:inline-block;
  width:15px;
  height:15px;
}

span.color-swatch.dark {
 border:solid 1px #696969; 
}

span.table-swatch.light {
  border:solid 1px #999;
}

div.color-row.selected span.color-name {
  font-weight:bold;
}

span.color-name {
  display:inline-block;
  margin:0 0 0 10px;
}

div.product-detail-right {
  width:160px;
  padding:0 0 10px 10px;
  float:left;
  position:relative;
}

div.additional-info {
  /*border-bottom:2px solid #3e3e3e;*/
  width:100%;
  padding:12px 0;
}

div#add_to_cart_holder {
  position:absolute;
  bottom:0;
  width:100%;
  height:35px;
  cursor:pointer;
}

input.form-submit {
  cursor:pointer;
}
table.order-review-table {
  background:#fff;
  width:100%;
  margin:20px 0 0 0;
  border:none;
}

table.cart-final-review {
  width:100%;
}

div#cart-form-products table, form#uc-cart-checkout-form table, table.order-review-table {
  color:#000;
}

div#cart-form-products table td, form#uc-cart-checkout-form table td, table.order-review-table td {
  vertical-align:middle;
}

div#cart-form-products table tr, form#uc-cart-checkout-form table tr, table.order-review-table tr {
  margin:0;
  padding:0;
}
td.subtotal {
  padding:10px;
}

div#cart-form-buttons {
  border:none;
}

div#cart-form-products {
border:1px solid #000;
margin:0.5em auto;
width:100%;
}


div#cart-form-products table thead {
  color:#fff;
}

div#cart-form-products table td.desc, form#uc-cart-checkout-form table td.desc, table.order-review-table td.desc {
  width:90%;
  vertical-align:middle;
}

div#cart-form-products table td.price, form#uc-cart-checkout-form table td.price, table.order-review-table td.price {
  margin-left:10px;
  padding:0 10px 0 10px;
}

div#cart-form-products table div.item-list, form#uc-cart-checkout-form table div.item-list, table.order-review-table div.item-list {
  display:inline;
  background:none;
}

div#cart-form-products table div.item-list ul, form#uc-cart-checkout-form table div.item-list ul, table.order-review-table div.item-list {
  display:inline;

}
div#cart-form-products table div.item-list ul li, form#uc-cart-checkout-form table div.item-list ul li, table.order-review-table div.item-list ul li {
  display:inline;
  margin:0;
  padding:0;
}


form#uc-cart-checkout-form {
  text-align:left;
}

table.cart-review {
  border:1px solid #000;
  width:100%;
}

table.cart-review thead {
  color:#fff;
}
form#uc-cart-checkout-form fieldset a {
  padding:0;
  margin:0;
}
form#uc-cart-checkout-form fieldset {
  display:block;
  width:100%;
  margin:10px 0 20px 0;
  overflow:none;
}

form#uc-cart-checkout-form fieldset legend {
  margin:0;
  padding:0;
  display:none;
}

div#checkout-form-bottom {
  border:none;
}

fieldset#customer-pane {
  width:100%;
  display:block;
  margin:10px 0 0 0;
}

form#uc-cart-checkout-form fieldset#cart-pane legend {
  display:block;
  margin:10px 0 15px 0;
  font-weight:bold;
  font-size:18px;
}

div.address-pane-table .field-label {
  color:#fff;
}


.order-pane table {
  color:#000;
}

.order-pane table .product-description, .product-description, .product-description li {
  background:none;
}

.order-review-table .pane-title-row {
  background-color:#000;
  border:none;
  font-weight:bold;
  padding:10px 20px;
  text-align:left;
  color:#fff;

}

.order-review-table .review-button-row {
  background-color:#000;
  border:none;
  text-align:right;
  height:65px;
}

.order-review-table .data-col {
  padding:none;
  background:#000;
  color:#fff;
}

form#uc-cart-checkout-review-form {
  margin-top:25px;
}

div.right input.list-add-to-cart {
  /*background:#3e3e3e;
  border:1px solid #666;
  font-family: 'BebasRegular', Helvetica, sans-serif;
  font-size:18px;
  line-height:14px;
  padding:3px;*/
  line-height:35px;
  font-size:35px;
  height:35px;
  margin:0;
  padding:0;
  text-indent:-999px;
  display:block;
  width:100%;
  background:url('images/lotus-cart-button.png') top left no-repeat;
}

div.right input.list-add-to-cart:hover {
  background:url('images/lotus-cart-button-hover.png') top left no-repeat;
}

div.product-body {
  color:#666;
  font-size:14px;
  margin:0 0 10px 0;
}

.full-content table tbody {
  color:#000;
}

#lotus-product-versions-cart-form th {
  color:#fff;
  font-weight:normal;
  font-size:11px;
  padding-bottom:7px;
}

div.column.product.left {
  height:399px;
}
div.column.product.middle {
  position:relative;
}
div.column.product.middle a {
  display:none;
  top:0;
  left:0;
  position:absolute;
  margin:0;
  padding:0;
  overflow:hidden;
  height:350px;
  width:350px;
}

div.column.product.middle a:first-child {
  display:block;
}

div.product-thumbs {
  position:absolute;
  bottom:3px;
  right:0;
  width:170px;
}

div.product-thumbs a {
  margin:10px 0 0 10px;
  width:75px;
  height:75px;
  line-height:75px;
  float:left;
  display:inline-block;
}
  
/* ------ STYLES FOR DOWNLOAD SECTION ---------- */

.download-header {
  padding:0;
  margin:10px 0 25px 0;
}

.download-section-holder {
  width:100%;
  position:relative;
}

.download-column {
  float:left;
  width:32%;
  margin:0 0 0 1.75%;
  
}

.download-column h2 {
  margin:0 0 10px 0;
}

.download-column:first-child {
  margin:0 0 0 0;
  padding:0;
}

.column-child {
  padding:10px;
  background:#fff;
  height:400px;
  overflow:auto;
}

.column-child:first-child {
  margin:0 0 0 0;
  padding:10px;
}

div#not_found {
  display:none;
  border:1px solid #ff0000;
  padding:20px;
  color:#ff0000;
  font-size:18px;
  text-transform:capitalize;
  margin-bottom:15px;
}

span#clear_button {
  font-size:20px;
  display:none;
}
img#loading_image {
  display:none;
}

div.search_holder input[type="text"] {
  background:none repeat scroll 0 0 #353535;
  border:1px solid #CCCCCC;
  margin:0;
  padding:0;
  width:400px;
  color:#fff;
  font-size:18px;
  height:27px;
}
div.search_holder span.input_wrapper {
  padding:10px 10px 15px 10px;
}

div.search_holder {
  margin-bottom:15px;
}

input#id_search_list_button {
  top:-4;
}